* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #141414;
    color: #a9afc3;
    padding: 15px;
}


header {


    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 10px;


}

.firstd span{
    color: red;
}
header h1 span{
    color: red;
}
.menubars2 ul {
    display: flex;
    column-gap: 40px;
    font-size: large;


}

.ul-li li {
    list-style-type: none;
    color: black;

}

.common {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10%;
    align-items: center;
    margin-top: 5%;
    justify-content: center;


}

.list li {
    list-style-type: none;
    margin-top: 10px;

}

.div1 input {
    width: 100%;
    background-color: #161819;
    border-color: #2f2f2f;
    padding: 10px;
    margin-top: 15px;

}

.list {
    margin-top: 15px;
}

.div2 p {
    font-weight: bold;
}

.div1 button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

footer hr {
    margin-top: 15px;
}

.part {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
}

.part ul {
    display: flex;
    column-gap: 40px;
    margin-right: 40px;

}

.part ul li {
    list-style-type: none;
}


.div1 {
    /* margin-left: 8%; */
    margin-top: 5%;
}

footer {
    background-color: black;

}

.common {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.firstd button {
    padding: 10px 15px;
    background-color: red;
    color: white;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.firstd input {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    background-color: #2f2f2f;
    border-radius: 5px;
    border: none;

}

.firstd p {
    margin-top: 15px;
}

.div2 div {
    margin-right: 1px;
}

.secondd p {
    font-weight: bold;
    margin-left: 8%;
}

.list {
    margin-left: 8%;
}

.fs-div1 img {
    height: 100px;
    width: 100px;
}

.fs-div1 {
    display: flex;
    margin-top: 25px;

    justify-content: space-between;
}

.increase {
    display: flex;
    margin-top: 15px;
}

.increase div {
    padding: 5px 10px;
    color: #a9afc3;
    background-color: #2f2f2f;

    border: 1px solid #a9afc3;
}

.firstsection {
    width: 50%;
    height: 350px;
    padding: 20px;
    background-color: #161819;
    overflow-x: hidden;
    overflow-y: scroll;
}




.s-p {
    margin-top: 10px;
}

.s-p span {
    text-decoration: line-through;
    color: #a9afc3;
    font-size: smaller;
    margin-left: 10px;
}

.det div {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.se-btn {
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;


}

.se-btn:hover {
    background-color: rgb(199, 64, 64);
}

.detain:hover {
    background-color: rgb(199, 64, 64);
}

.add,
.sub {
    padding: 10px;
    background-color: #2f2f2f;
    color: white;
    border: none;
}

.num {
    width: 40px;
    padding: 5px;
    background-color: black;
    color: red;
    border: none;

}


.section {
    display: flex;



}

.secondsection {
    width: 40%;
    margin-left: 15%;
    padding: 20px;
}

.det {
    margin-top: 45px;
}

.det hr {
    margin-top: 25px;
}

.log-box {
    width: 30%;
    border: 2px solid black;
    padding: 40px;
    background-color: #141414;
    color: white;
    position: relative;
    margin-top: 50px;
    margin-left: 30%;
    border-radius: 15px;


}

.log-box input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color:#161819;
    border-radius: 5px;
    border: 2px solid;
    color: white;
    border: none;




}


#btnadd:hover {
    background-color: rgb(204, 58, 58);
}

.log-box input::placeholder {
    color: white;
}

.log-box {
    position: relative;
    bottom: 30%;
    z-index: 2;
    display: none;
}

.layout {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sign-in {
    width: 30%;
    border: 2px solid black;
    padding: 40px;
    background-color: #141414;
    color: white;
    position: absolute;
    margin-top: 50px;
    margin-left: 30%;
    display: none;
    top: 0%;



}

.deta input {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;

}

.one {
    text-align: center;
}

hr {
    margin-top: 40px;
}

.threebox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.two-1 {
    padding: 10px 15px;
    background-color: rgb(35, 130, 161);
    color: white;
    border: none;

}

.three-1 {
    padding: 10px 15px;
    background-color: rgb(206, 92, 39);
    color: white;
    border: none;

}

.four-1 {
    padding: 10px 15px;
    background-color: rgb(58, 61, 194);
    color: white;
    border: none;

}

.one {
    background-color: red;
}

.div-xx {
    padding: 10px;
    color: white;
    background-color: #141414;
    position: relative;
    left: 40%;
    bottom: 97px;
    width: 15%;
}

i {
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: x-large;
}

.sign-in {
    z-index: 3;
}

.part ul li {
    display: flex;
}

.deta input {
    padding-left: 5px;
}